<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <main class="container">
      <section class="card">
        <h1 class="card__title">Ups, algo salió mal</h1>
        <p class="card__phrase"><%= message %></p>
      </section>
      <section class="meta">
        <p>Contenedor: <span class="meta__value"><%= containerId %></span></p>
      </section>
    </main>
  </body>
</html>


